#contenue{
    position: absolute;
    left: 15%;
    width: 70%;
    top:20%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    background-color: ghostwhite;

}
#form_gouter{
    display: inline-flex;
    height: 70%;
    width: 100%;
}
#liste_Enfant{
    margin-right: 5%;
    height: 100%;
    width: 25%;
}
#cadre_liste_enfant{
    overflow:auto;
    height: 80%;
}
#liste_Produit{
    margin-right: 5%;
    margin-left: 5%;
    width: 55%;
    height: 100%;
}
#cadre_liste_Produit{
    overflow:auto;
    height: 80%;
}
.table_prod{
    overflow: auto;
    height: 85%;

}
body{

}
.img-logo{
    width: 80px;
    height: 60px;
}
.bg-dark{
    background-color: #0056b3;
}

a.bg-dark:focus, a.bg-dark:hover {
    background-color: #062c33 ;
}
#btnDeco{
    position: absolute;
    right: 10%;
}

.erreur{
	color:red;
}